<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <title>Добро пожаловать</title>
    <style>
   .text {
    text-align:  center;
   }
  </style>

</head>
<body>
<div class = "text">
<h2> <p>Здравствуйте, меня зовут Александр Орлов, и это мой проект по программированию!</p>
</h2>
</div>
    <div class = "container">
<form action="/result">
    <div class="text">
        <div> <h3><p>Введите ссылку на страницу пользовотеля, о котором вы хотитет узнать следующую информацию:</p></h3>
        <h4><p>родной город пользователя;</p></h4>
     <h4><p>возраст пользователя;</p></h4>
    <h4><p>количество его друзей;</p></h4>
        <h4><p> место его работы или учёбы;</p></h4>
       <h4><p>то, о чем в последнее время пишет пользователь.</p></h4>
    </div>
    </b><input type="text" name="id" value="">
    <input type="submit" value="Отправить">
</form>
</div>

</body>
</html>